body{
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

.container{
    width: auto;
    height: 1187px;
    max-width: 1370px;
    margin: 16px auto 0 auto;
}

.div-left{
    width: 33%;
    background-color: #FFF;
    height: 1141.57px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.div-right{
    width: 66%;
    height: 1142.4px;
    float: right;
}

.div-left, .div-right{
    display: inline-block;
}

.avatar{
    width: 100%;
}

.div-top{
    height: 52%;
}

.div-top, .div-down{
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 1px 0 1px 22px;
}

.div-down{
    margin-top: 15px;
    height: 49%;
}

.avatar, .nome{
    display: inline-flexbox;
}
.nome{
    margin: -60px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.div-status{
    padding: 16px;
    color: #757575;
}

.fa-briefcase, .papel{
    display: inline-block;
}

.casa, .fa-home{
    display: inline-block;
}

.email, .fa-envelope{
    display: inline-block;
}

.telefone, .fa-phone{
    display: inline-block;
}

.div-left .fa{
    font-size: 18px;
}

.fa{
    color:#483D8B;
    margin: 0 16px 0 0;
}

p{
    margin: 7.5px 0;
}

hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}

b{
    font-size: 18px;
}

.progress{
    background-color: #F1F1F1;
    border-radius: 16px;
}

.porcentagem{
    background-color: #483D8B;
    text-align: center;
    color: #FFF;
    border-radius: 16px;
    font-size: 12px;
}

.porc1{
    width: 90%;
}

.porc2{
    width: 80%;
}

.porc3{
    width: 75%;
}

.porc4{
    width: 50%;
}

.languages{
    margin: 36px 0 18px 0;
}

.p-progress{
    margin: 15px 0;
}

.progress-lang{
    background-color: #F1F1F1;
    border-radius: 16px;
}

.porcentagem-lang{
    height: 24px;
    background-color: #483D8B;
    border-radius: 16px;
}

.porc-lang1{
    width: 100%;
}

.porc-lang2{
    width: 55%;
}

.porc-lang3{
    width: 25%;
}

.p-lang{
    margin: 15px 0;
}

footer{
    width: 100%;
    height: 127.5px;
    background-color: #483D8B;
    padding: 1px 0 0 0;
    border: 0;
    text-align: center;
    color: #FFF;
    clear: both;
}

footer p{
    margin: 15px;
}

a{
    color:#FFF;
    display: inline-block;
}

footer i:hover{
    color: #757575;
}

footer i{
    display: inline-block;
}

.titulo h2{
    color: #757575;
    padding-bottom: 16px;
    font-size: 30px;
    font-weight: 200;
}

.titulo i{
    font-size: 36px;
    color: #483D8B;
}

.div-right i{
    margin-right: 16px;
}

.desc1{
    padding: 0 14px;
    color: #757575;
    font-weight: bolder;
}

.desc2{
    color: #483D8B;
    font-size: 24px;
    padding: 0 21px 0 14px;
}

.desc2 span{
    color: #FFF;
    background-color: #483D8B;
    border-radius: 4px;
    border-right: 7px solid #483D8B;
    border-left: 7px solid #483D8B;
    border-top: 3px solid #483D8B;
    border-bottom: 3px solid #483D8B;
}

.desc2 h6{
    margin: 10px 0;
    font-weight: 400;
}

.desc2 i{
    font-size: 18px;
}

.div-right p{
    font-size: 15px;
    color: #000;
    margin: 15px 0;
}

.div-right hr{
    margin-right: 22px;
}

