*{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body{
    background-color: #EEE;
    display: block;
}

.container{
    width: auto;
    height: 1187px;
    max-width: 1370px;
    margin: 16px auto 0 auto;
}

.div-left{
    width: 33%;
    background-color: #FFF;
    height: 1119.18px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.div-right{
    width: 66%;
    height: 1119.18px;
    float: right;
}

.div-left, .div-right{
    display: inline-block;
}

.avatar{
    width: 100%;
}

.div-top, .div-down{
    width: 100%;
    height: 50%;
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.div-down{
    margin-top: 15px;
}

.avatar, .nome{
    display: inline-flexbox;
}
.nome{
    margin: -60px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.div-status{
    margin: 16px;
}

.fa-briefcase, .papel{
    display: inline-block;
}
